@charset "UTF-8";
html, body {
  font-family: Roboto, sans-serif;
  height: 100%;
  overflow: auto;
}

/*подумать, как растянуть боди на весь экран при увеличении*/
header {
  margin: 20px 0;
}

header .logo {
  width: 190px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .search {
  display: flex;
  align-items: center;
  margin-right: 5%;
  width: 452px;
}

header .search input {
  padding: 10px 5px;
  width: 400px;
  border: 2px solid rgba(243, 190, 0, 0.8);
  opacity: 0.8;
  font-family: Roboto;
}

header .search button {
  padding: 6.5px 15px;
  border: none;
  background-color: rgba(243, 190, 0, 0.8);
}

header .search__icon {
  height: 23px;
  width: 22px;
}

header .links {
  display: flex;
  align-items: center;
}

.paginator{
	display: flex;
	justify-content: center;
}

.page{
	margin:55px 0 10px 0;
	font-size: 22px;
	font-weight: 600;
	background-color: rgba(243, 190, 0, 0.8);
	border: black ridge 2px;
	padding: 10px 15px;
}

.no-page{
	margin:55px 0 10px 0;
	font-size: 22px;
	font-weight: 600;
	border: black ridge 1px;
	padding: 10px 15px;
}

header .links .button {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

header .links .button img {
  position: absolute;
  width: 100%;
  height: 100%;
}

main {
  min-height: 100vh;
  margin: 100px 0;
  display: flex;
  justify-content: center;
}

footer {
  height: 100px;
  background-color: #383737;
}