#elastic {
	display: block;
	margin: 40px 0;
}

.elastic li.hide{
	display: none;
}

.elastic tr.hide{
	display: none;
}

.item .main-image{
	height: 400px;
	width: 400px;
	object-fit: contain;
}

.admin-image .main-image{
	height: 400px;
	width: 400px;
	object-fit: contain;
}

.item .additional-image{
	height: 200px;
	width: 200px;
	object-fit: contain;
}

.item textarea{
	height: 200px;
}

.item .tag{
	height: 300px;
}

.order .items{
	max-height: 250px;
}