@charset "UTF-8";
html, body {
  font-family: Roboto, sans-serif;
  height: 100%;
  overflow: auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  height: 90px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header .logo {
  width: 190px;
}

header .container {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .search {
  display: flex;
  justify-content: flex-start;
}

header .search input {
  border-radius: 5px 0 0 5px;
  padding: 5px 15px;
  min-width: 500px;
  border: 2px solid rgba(243, 190, 0, 0.8);
  opacity: 0.8;
  font-family: Roboto;
  font-size: 20px;
}

header .search button {
  padding: 6.5px 15px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: rgba(243, 190, 0, 0.8);
}

header .search button:hover {
  cursor: pointer;
}

header .search__icon {
  height: 30px;
  width: 30px;
}

.header-user{
  display: flex;
  margin-left: 60px;
}

header .links {
  display: flex;
  align-items: center;
}

header .links .button {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

header .links .button:hover {
  border-radius: 12px;
  border: #e7a600 solid 3px;
  background: #e7a600;
}

header .links .button img {
  position: absolute;
  width: 100%;
  height: 100%;
}

main {
  min-height: 100vh;
  margin: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #383737;
}

.message
{
  display: flex;
  background: #9ac0de;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 10px 30px;
  min-width: 402px;
  justify-content: space-around;
  color: #2d2929;
  font-weight: bold;
  font-size: 20px;
}